/* * CSS STYLE * */
/* @font-face {
  font-family: 'Open Sans', sans-serif;
  src: url();
} */
:root {
    --white: #fff;
    --white-transparent: #d7ccc0;
    --light: #f5f4f0;
    --base-light: #fe8a02;
    --base-dark: #42413c;
    --dark: #2a2626;
    --dark-transparent: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

.hello {
    display: block;

    color: #fff;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: #2a2626;
    width: 1440px;
}
h1,
h2,
h3 {
    font-family: "Neucha", cursive;
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}
main {
    max-width: 1110px;
    align-content: center;
    margin: 100px;
}
.background {
    /* position: relative; */
    background-color: var(--light);
}

.background::before {
    content: "";
    position: absolute;
    background-image: url("../images/background.png");
    opacity: 0.9;
    z-index: 300;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 1440px;
    position: absolute;
}

/* header::before {
    position: absolute;
    z-index: 300;
    width: 1440px;
    background-image: url("../images/background.png");
    opacity: 0.1;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
} */

.title {
    position: absolute;
    z-index: 200;
    top: 100px;
    left: 165px;
    color: var(--base-light);
}
.dark {
    color: var(--dark);
}

.right {
    position: absolute;
    z-index: 100;
    top: 55px;
    right: -270px;
    height: 525px;
}
