/* * CSS STYLE * */
/* @font-face {
  font-family: 'Open Sans', sans-serif;
  src: url();
} */
:root {
    --white: #fff;
    --white-transparent: #d7ccc0;
    --light: #f5f4f0;
    --base-light: #fe8a02;
    --base-dark: #42413c;
    --dark: #2a2626;
    --dark-transparent: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: #2a2626;
    width: 1440px;
}

h1,
h2,
h3 {
    font-family: "Neucha", cursive;
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

.background {
    position: relative;
    background-color: var(--light);
}

.background::before {
    content: "";
    width: 1440px;
    height: 100vh;
    position: absolute;
    background-image: url("../images/background.png");
    opacity: 0.1;
    z-index: 300;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1110px;
    margin: 100px auto;
}

.title {
    position: relative;
    z-index: 200;
    color: var(--base-light);
    column-span: all;
}

.dark {
    color: var(--dark);
    margin: 0;
    padding: 0;
}

.right {
    position: absolute;
    z-index: 100;
    top: -55px;
    right: -270px;
    height: 525px;
    column-span: all;
}

.columns-2 {
    column-count: 2;
    column-gap: 30px
}

button {
    text-transform: uppercase;
    border: none;
    padding: 12px 24px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--base-light);
}
