/* * CSS STYLE * */

:root {
    --white: #fff;
    --white-transparent: #d7ccc0;
    --light: #f5f4f0;
    --base-light: #fe8a02;
    --base-dark: #42413c;
    --dark: #2a2626;
    --dark-transparent: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: #2a2626;
    width: 1440px;
}

h1,
h2,
h3 {
    font-family: "Neucha", cursive;
    line-height: 1.2em;
    font-weight: 400;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

.background {
    position: relative;
    background-color: var(--light);
    width: 1440px;
    height: 919px;
}

.background::before {
    content: "";
    width: 1440px;
    height: 100vh;
    position: absolute;
    background-image: url("../images/background.png");
    opacity: 0.1;
    z-index: 300;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1110px;

    margin: 100px auto;
}
.pos-relative {
    position: relative;
}

.mg-top-0 {
    margin-top: 0;
}

.title {
    position: relative;
    z-index: 200;
    color: var(--base-light);
    column-span: all;
}

.dark {
    color: var(--dark);
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.right {
    position: absolute;
    z-index: 100;
    top: -55px;
    right: -270px;
    height: 525px;
    column-span: all;
}

.col-span-all {
    column-span: all;
}
.columns-2 {
    column-count: 2;
    column-gap: 30px;
}

button {
    text-transform: uppercase;
    border: none;
    padding: 12px 24px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--base-light);
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
}

.video {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    position: relative;
    top: 200px;
}
.rectangle-37 {
    width: 1440px;
    height: 100px;
    background-color: var(--base-dark);
}
.card {
    display: block;
    max-width: 302px;
    flex-wrap: wrap;
    padding: 24px;
    /* max-width: 302px; */
    background-color: var(--light);
}
.number {
    margin-bottom: 40px;
    font-size: 64px;
    font-family: "Neucha", cursive;
    line-height: 1;
}

.card-h {
    /* font-size: 52px; */
    color: var(--base-light);
}
.padding-0 {
    /* display: block; */
    padding: 0;
    max-width: 350px;
    font-size: 46px;
    font-weight: 400;
    font-family: "Neucha", cursive;
    line-height: 1;
    background-color: var(--light);
}

.nav-h {
    font-size: 40px;
    font-weight: 400;
    /* line-height: 62.4px; */
}

.navigation {
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: var(--base-dark); */
}

.col-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.mg-top-100 {
    margin-top: 100px;
}
.nav-background {
    background-color: var(--base-dark);
    height: 891px;
    /* margin-top: 100px; */
}

.p-34 {
    font-family: "Neucha", cursive;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.2;
}

.col-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block {
    max-width: 502px;
}

.bg-color-brown {
    background-color: var(--brown);
}

.bg-color-white {
    background-color: var(--white);
}

.color-white {
    color: var(--white);
}

.color-brown {
    color: var(--brown);
}

.not-h {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 15px;
}

/* section {
    padding-top: 100px;
} */
